@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/spinkit/spinkit.css';


@font-face {
  font-family: "Raleway Black";
  src: url(assets/fonts/Raleway-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway Semi";
  src: url(assets/fonts/Raleway-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway Bold";
  src: url(assets/fonts/Raleway-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "League Spartan";
  src: url(assets/fonts/LeagueSpartan-VF.ttf) format("truetype");
}
@font-face {
  font-family: "League Spartan Bold";
  src: url(assets/fonts/LeagueSpartan-Bold.ttf) format("truetype");
}

.raleway-black{
    font-family: "Raleway Black";
}
.raleway-semi{
    font-family: "Raleway Semi";
}
.raleway-bold{
    font-family: "Raleway Bold";
}
.league-spartan-bold{
    font-family: "League Spartan Bold";
}


#spinner-cont{
    width: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}
